
.input-form {
    flex-direction: column;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.form {
    width: 100%;
    margin-top: 10px;
}

button {
    width: 60%;
    height: 40px;
    margin-top: 20px;
    margin-left: 60px;
    border-radius: 40px;
    outline: none;
    border: 2px solid #a0c4ff;
    color: rgba(45,146,204,0.9887387387387387);
    letter-spacing:1px;
    text-shadow:0;
    background-color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.25s ease;
    &:hover {
        color: #ffffff;
        background-color: #a0c4ff;
    }
    &:active {
        letter-spacing: 2px ;
    }
    &:after {
        content:"SUBMIT";
    }
}

.onclick-btn {
    width: 40px;
    border-color:#bbbbbb;
    border-width:3px;
    font-size:0;
    border-left-color:rgba(45,146,204,0.9887387387387387);
    animation: rotating 2s 0.25s linear infinite;
  
    &:after {
      content:"";
    }
    &:hover {
      color:rgba(45,146,204,0.9887387387387387);
      background: white;
    }
  }
  .validate {
    font-size:13px;
    color: white;
    background: white;
    &:after {
        width: 40px;
        font-family:'FontAwesome';
        color: green;
        content:"\2713";
    }
  }

  .validate-error {
    font-size:13px;
    color: white;
    background: white;
    &:after {
        width: 40px;
        font-family:'FontAwesome';
        color: red;
        content:"\26A0";
    }
  }

.icon-btn {
    &:after {
        content:"";
    }
}
.submitButton {
    &:after {
        content:"";
    }
}
.dialog-text {
    margin-left: 30px;
    font-size: 10;
    margin-bottom: 20px;
}
.on-closePopUp {
    align-items: center;
    font-weight: bold;
    &:after {
        content:"CLOSE";
    }
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

