
// @import url(https://fonts.googleapis.com/css?family=Nunito);
// @import url(//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

// *,*:before,*:after {
//   box-sizing: border-box;
// }

.input-form {
    flex-direction: column;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.form {
    width: 100%;
    margin-top: 10px;
}

// .upload-container {
//     /* background: #FFD16E;
//     height: 100%;
//     padding: 0;
//     margin: 0; */
//     font-size: 10px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     font-family: 'Nunito', sans-serif;
//     border-radius: 10;
// }

// .upload-images-form {
//     background: #6E95F7;
//     height: 200px;
//     width: 300px;
//     position: relative;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     flex-wrap: wrap;
//     .upload-title {
//         color: white;
//         display: block;
//         position: absolute;
//         top: 2%;
//         left: 0;
//         width: 50%;
//         height: 50%;
//         text-align: center;
//         font-size: 30px;
//         &:after {
//             $color: rgba(white, 0.5);
//             content: '\f067';
//             font-family: 'FontAwesome';
//             font-size: 100%;
//             color: $color;
//             display: flex;
//             align-items: center;
//             justify-content: center;
//             margin: 4% auto auto auto;
//             width: 50%;
//             height: 50%;
//             border: 6px dashed $color;
//         }
//     }
//     .choose-a-file {
//         position: absolute;
//         bottom: 0;
//         left: 0;
//         display: block;
//         background: white;
//         height: 25%;
//         width: 100%;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//     }
//     .select-file-btn {
//         display: inline-block;
//         padding: 0.7em 2em;
//         color: white;
//         background: #4db6ac;
//         text-decoration: none;
//         &:hover {
//             text-decoration: none;
//         }        
//     }
//     .upload-btn {
//         position: absolute;
//         top: 0;
//         left: 0;
//         width: 100%;
//         height: 100%;
//         opacity: 0;
//         cursor: pointer;
//         z-index: 10;
//     }    
// }

// .upload-images-form.loading {
//     .helpText {
//       font-size: 0;
//       top: 7%;
//       &:before {
//         font-size: 30px;
//         content: 'Uploading...';
//       }
//       &:after {
//         display: none;
//       }
//     }
//     .uploaded-photo {
//         position: absolute;
//         bottom: 12.5%;
//         left: 12.5%;
//         width: 75%;
//         height: 65%;
//         background-repeat: no-repeat;
//         background-position: center center;
//         background-size: cover;
//         border: 4px solid white;
//         transition: opacity 0.3 ease-out;
//     }

//     .unveil {
//         position: absolute;
//         background: #6E95F7;
//         display: block;
//         width: 100%;
//         height: 100%;
//         top: 0;
//         left: 0;
//         &:after {
//           content: '';
//           position: absolute;
//           left:-3%;
//           bottom: 0;
//           height: 10px;
//           width: 106%;
//           background: #FFD16E;
//           border-radius: 5px;
//         }
//         animation: toTop 4s forwards;
//       }
//       .uploaded-photo, .upload-btn {
//         display: none;
//       }
// }

// .iupload-images-form.loading.loaded {
//     height: 200px;
//     .uploaded-photo {
//       opacity: 0;
//     }
    
//     .upload-title {
//       &:before {
//         content: 'Upload Complete!';
//       }
//       &:after {
//         display: block;
//         opacity: 0;
//         font-size: 0;
//         line-height: 100px;
//         animation: fadeIn .4s forwards;
//         content: '\f058';
//         color: white;
//         margin-top: 2%;
//         border-width: 0;
//       }
//     }
//   }

//   @keyframes toTop {
//     to {
//       height: 0;
//     }
//   }
//   @keyframes fadeIn {
//     to {
//       opacity: 1;
//       font-size: 90px;
//     }
// }
  
  

 




